﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title>博客管理</title>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="../../Scripts/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/theme.css" />
    <link rel="stylesheet" href="../../Scripts/font-awesome/css/font-awesome.css" />
    <script src="../../Scripts/jquery/jquery-1.8.3.js" type="text/javascript"></script>
    <script src="../../Scripts/Lib/BlogManage/BlogManage.js" type="text/javascript"></script>
    <style>
        #line-chart
        {
            height: 300px;
            width: 800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand
        {
            font-family: georgia, serif;
        }
        .brand .first
        {
            color: #ccc;
            font-style: italic;
        }
        .brand .second
        {
            color: #fff;
            font-weight: bold;
        }
        #login-details
        {
            background: url("../../images/login-details-bg.png") repeat-x scroll top center #212f3b;
            padding: 15px;
        }
        .img-left
        {
            float: left;
            margin-right: 8px;
            margin-bottom: 8px;
        }
        .framed
        {
            background: none repeat scroll 0 0 #eeeff7;
            border: 1px solid #969696;
            line-height: 0;
            padding: 3px;
            border-radius: 3px 3px 3px 3px;
        }
        img
        {
            border: 0;
            -ms-interpolation-mode: bicubic;
            vertical-align: middle;
        }
        #login-details h3
        {
            color: #d4d4d4;
            font-size: 12px;
        }
        #login-details h2, #login-details h3, #login-details p
        {
            text-shadow: 0 1px 0 #070f16;
        }
        #search-bar
        {
            background: url("../../images/title-bar-bg.png") repeat-x scroll top left transparent;
            height: 42px;
            position: relative;
            z-index: 30;
        }
        form
        {
            margin: 0;
            display: block;
            margin-top: 0em;
        }
        #search-form input[type="text"]
        {
            background: url("../../images/search.png") no-repeat scroll 8px 6px #fff;
            margin-top: 8px;
            margin-left: 10px;
            margin-right: 10px;
            padding-top: 4px;
            padding-left: 25px;
            padding-right: 10px;
            border: 1px solid #b3b3b3;
            border-radius: 20px 20px 20px 20px;
            width: 205px;
            font-size: 10px;
        }
        input.text, input.email, input.password, textarea.uniform
        {
            font-size: 12px;
            font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
            font-weight: normal;
            color: #777;
            border-top: solid 1px #aaa;
            border-left: solid 1px #aaa;
            border-bottom: solid 1px #ccc;
            border-right: solid 1px #ccc;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            outline: 0;
            padding: 0;
        }
        #name
        {
            margin: 0;
            padding: 0;
            display: inline;
        }
        .dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a
        {
            background-color: #82A1B8;
            background-image: -moz-linear-gradient(top, #82A1B8, #68859F);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#82A1B8), to(#68859F));
            background-image: -webkit-linear-gradient(top, #82A1B8, #68859F);
            background-image: -o-linear-gradient(top, #82A1B8, #68859F);
            background-image: linear-gradient(to bottom, #82A1B8, #68859F);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82A1B8', endColorstr='#68859F', GradientType=0);
        }
        footer
        {
            width: 100%;
            color: white;
            text-align: center;
            background: #4d5b76;
            background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #202E39), color-stop(1, #415969));
            background: -ms-linear-gradient(bottom, #202E39, #415969);
            background: -moz-linear-gradient(center bottom, #202E39 0%, #415969 100%);
            background: -o-linear-gradient(bottom, #202E39, #415969);
            filter: progid:dximagetransform.microsoft.gradient(startColorStr='#202E39', EndColorStr='#415969');
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#202E39',EndColorStr='#415969')";
        }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav pull-right">
                <li><a href="/BlogManage/NewArticle" class="hidden-phone visible-tablet visible-desktop"
                    role="button"><i class="icon-pencil"></i>写新文章</a></li>
                <li id="fat-menu" class="dropdown"><a href="#" role="button" class="dropdown-toggle"
                    data-toggle="dropdown"><i class="icon-user"></i><span id="name"><%= HttpContext.Current.Session["username"]%></span> <i class="icon-caret-down">
                    </i></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="/Blog/Index/<%= HttpContext.Current.Session["username"]%>">
                            <i class="icon-home"></i>个人主页</a></li>
                        <li><a tabindex="-1" href="/BlogManage/KeyManage"><i class="icon-key"></i>修改密码</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/Logins/Logout"><i class="icon-signout"></i>注销</a></li>
                    </ul>
                </li>
            </ul>
            <a class="brand" href="/home"><span class="first">Youo</span> <span class="second">Blog</span></a>
        </div>
    </div>
    <div class="sidebar-nav">
        <div id="search-bar">
            <form id="search-form" name="search-form" action="search.php" method="post">
            <input type="text" id="query" name="query" value="" autocomplete="off" placeholder="搜索"
                class="text placeholder">
            </form>
        </div>
        <section id="login-details">
                <img class="img-left framed" src="../../images/avatar_small.png" alt="Hello Admin">
                <h3><% var name = HttpContext.Current.Session["username"];
                       Response.Write("欢迎你：" + name);%></h3>
               <div class="clearfix">
                </div>
              </section>
        <a href="/BlogManage/ArticleManage" class="nav-header"><i class="icon-file"></i>文章管理</a>
        <a href="/BlogManage/LabelManage" class="nav-header"><i class="icon-tags"></i>标签管理</a>
        <a href="/BlogManage/BlogSet" class="nav-header"><i class="icon-wrench"></i>博客配置</a>
       </div>
    <div class="content">
        <asp:ContentPlaceHolder ID="MainContent" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    
    <script src="../../Scripts/bootstrap/js/bootstrap.js"></script>
</body>
</html>
