﻿/*
 * Globals
 */

body
{
    padding: 0;
    color: #555;
    background-color: #E2E2E2;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #5a543a;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
{
    font-family: "Helvetica Neue" , Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
    margin-top: 0;
}
a
{
    color: #a99238;
    font-weight: bold;
}
a:link
{
    color: #a99238;
}

a:visited
{
    color: #a99238;
}

a:hover, a:active
{
    color: #a99238;
    text-decoration: none;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px)
{
    .container
    {
        width: 970px;
        background-color: #fff;
        margin: 20px auto 30px auto;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 15px;
        box-shadow: 0 4px 6px 6px #9E9E9E;
    }
}

.row
{
    padding-right: 10px;
    padding-left: 10px;
}
/*
 * Masthead for nav
 */

.blog-masthead
{
    background-color: #428bca;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav
{
}
.blog-nav-item
{
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}
.blog-nav-item:hover, .blog-nav-item:focus
{
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active
{
    color: #fff;
}
.blog-nav .active:after
{
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    content: " ";
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid;
}


/*
 * Blog name and description
 */

.blog-header
{
    margin: 12px 0 0 0;
    background-color: #35648C;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 180px;
    background: url('../../../images/summer-title3.jpg');
    text-align: center;
}
.blog-title
{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 2.4em;
    font-weight: bold;
    text-align: center;
    color: white;
}
.blog-description
{
    font-size: 1.2em;
    text-align: center;
    font-weight: 800;
    color: #fff;
    margin-top: 20px;
}


/*
 * Main column and sidebar layout
 */

.blog-main
{
    /*font-size: 18px;*/
    line-height: 1.5;
    margin-top: 20px;
}

/* Sidebar modules for boxing content */
.sidebar-module
{
    padding: 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset
{
    padding: 15px;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child, .sidebar-module-inset ul:last-child, .sidebar-module-inset ol:last-child
{
    margin-bottom: 0;
}

.blog-sidebar
{
    background: -webkit-gradient(linear,     left top,left bottom,     from(#E7E7E7),to(#fff));
    background-color: #E7E7E7;
    filter: progid:DXImageTransform.Microsoft.Gradient(     GradientType=0, StartColorStr=#E7E7E7, EndColorStr=#fff);
    margin-top: 10px;
    border-radius: 12px;
}

/* Pagination */
.pager
{
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a
{
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post
{
    margin-bottom: 45px;
}

.blog-post-title
{
    margin-bottom: 5px;
    font-size: 1.5em;
}
.blog-post-meta
{
    margin-bottom: 20px;
    color: #999;
}


/*
 * Footer
 */

.blog-footer
{
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

#scrollUp
{
    bottom: 20px;
    right: 20px;
    height: 38px;
    width: 38px;
    background: url("../../../images/top.png") no-repeat;
}

.list-unstyled
{
    line-height: 1.9em;
}
.list-tag
{
    line-height: 200%;
}
.list-tag li
{
    display: inline-block;
    margin: 0 2px;
}

.list-tag li a:link
{
    text-decoration: none;
}
.list-tag li a:visited
{
    text-decoration: none;
}
.list-tag li a:hover
{
    background-color: #ddd;
}

.tag a:link, .list-unstyled a:link
{
}

.level-1 a
{
    font-size: .9em;
    color: #a99238;
    font-weight: 100;
}

.level-2 a
{
    font-size: 1.2em;
    color: #a99238;
    font-weight: 200;
}
.level-3 a
{
    font-size: 1.3em;
    color: #a99238;
    font-weight: 300;
}
.level-4 a
{
    font-size: 1.4em;
    color: #a99238;
    font-weight: 600;
}

.level-5 a
{
    font-size: 1.5em;
    color: #a99238;
    font-weight: 900;
}
.level-6 a
{
    font-size: 1.8em;
    color: #a99238;
    font-weight: 900;
}
.pointer-cursor
{
    cursor: pointer;
}
footer p
{
    margin-left: 365px;
}
.blog-post-title a,.blog-post-meta a
{
    color: #529E00;
    font-weight: bold;
}
.tag a {
    color: blue;
    font-weight: normal;
    text-decoration: underline;
}